// colors

//main-colors
$clr-primary: #d1a570;
$clr-primary_hover: #c89353;
$clr-primary_brd_hover: #c58d49;

//bg-colors
$clr-bg-black-1: #191717;
$clr-bg-black-2: #222121;

//text-colors
$clr-text-black: #333;
$clr-text-gray: rgb(126, 126, 126);
$clr-text-gray-hover: #3e3e3e;

//tag colors
$clr-tag-rent: #6cb6ac;
$clr-tag-featured: #ff6935;
$clr-tag-sale: #6178b6;
$clr-tag-offer: #888;
$clr-tag-articles: rgba(0, 0, 0, 0.3);
