// colors

//main-colors
$clr-primary: #d1a570;

//bg-colors
$clr-bg-black-1: #191717;
$clr-bg-black-2: #222121;

//text-colors
$clr-text-black: #333;
$clr-text-gray: rgb(126, 126, 126);
$clr-text-gray-hover: #3e3e3e;

//tag colors
$clr-tag-1: #6cb6ac;
$clr-tag-2: #ff6935;
$clr-tag-3: #6178b6;
$clr-tag-4: #888;
