body {
  font-family: Poppins;
  font-size: 14px;
  height: 2600px;
}

.homeId_container {
  max-width: 1550px !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
