body {
  font-family: Poppins;
  font-size: 14px;
  color: $clr-text-gray;
}

::selection {
  color: white;
  background: $clr-primary;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr-text-black;
}

.homeId_container {
  max-width: 1550px;
  width: 100%;
  padding: 0 30px;
  @include mq-xl() {
    max-width: 1200px;
    padding: 0 120px;
  }
  @include mq-lg() {
    max-width: 720px;
    padding: 0 15px;
  }
  @include mq-md() {
    max-width: 540px;
  }
  margin-right: auto;
  margin-left: auto;
}

.back-to-top {
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  transition: all 0.5s;
  transform: translateX(100px);
  &:hover {
    background-color: $clr-primary;
    color: #fff;
  }
  i {
    font-size: 22px;
  }
  &.in {
    transform: translateX(0);
  }
}

[data-bg-img] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb-xl_30 {
  @include mq-xl() {
    margin-bottom: 30px;
  }
}
.mb-lg_30 {
  @include mq-lg() {
    margin-bottom: 30px;
  }
}
.mb-md_30 {
  @include mq-md() {
    margin-bottom: 30px;
  }
}

.width-md_100 {
  @include mq-md() {
    width: 100%;
  }
}
