footer {
  padding: 80px 0;
  background-color: $clr-bg-black-2;
  .social-links {
    margin-bottom: 40px;
    .links {
      display: flex;
      justify-content: flex-end;
      li {
        color: rgba(255, 255, 255, 0.3);
        &:hover {
          color: #fff;
        }
        & + li {
          margin-left: 50px;
        }
        a {
          color: inherit;
          font-size: 28px;
          transition: all 0.3s;
        }
      }
    }
  }
  .footer_nav {
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        color: #ababab;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        & + li {
          @include mq-lg-min() {
            margin-left: 65px;
          }
        }
        @include mq-lg() {
          flex: 1 1 33.33%;
          text-align: center;
        }
        @include mq-sm() {
          font-size: 14px;
        }
        @include mq-xs() {
          flex: 1 1 50%;
        }
        a {
          color: inherit;
          display: block;
          padding: 6px 0;
          line-height: 20px;
          min-height: 32px;
          &:hover {
            color: $clr-primary;
          }
        }
      }
    }
  }
  .copyright {
    p {
      color: #ababab;
      line-height: 26px;
    }
  }
}
